
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content button {
    float: none;
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
    width: 100%;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content button:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navDropdownText{
    line-height: 18px;
    font-size: 13px;
    color: #464646;
    font-family: "Martel";
  }